html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#header {
    background-color: lightblue;
    padding: 10px;
}

#header>h1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#left-panel,
#right-panel {
    width: 50%;
}

#left-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.container {
    border: black solid 2px;
    height: 250px;
    width: 500px;
    display: flex;
    gap: 20px;
    padding: 10px;
}

#content {
    height: 80%;
    display: flex;
}

#footer {
    background-color: lightblue;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#right-panel {
    border-left: 2px black solid;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.live-screen {
    width: 650px;
    border: black solid 2px;
    height: 650px;
}

.list,
.todo {
    border: 1px solid black;
    width: 80px;
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}